<h1>Welcome to Chirpus Pizza!</h1>

<table>
  <tr>
    <th style="text-align: left;">Item</th>
    <th style="text-align: left;">Category</th>
    <th style="text-align: left;">Price</th>
  </tr>
  
  <tr *ngFor="let food of menu">
    <td style="text-align: left;">{{food.name}}</td>
    <td style="text-align: left;">{{food.category}}</td>
    <td style="text-align: left;">${{food.price}}</td>
  </tr>
</table>


<br>
<br>
<br>
<br>


<h2>dinner</h2>
<div *ngFor="let item of getByCategory('dinner')">
  <p>{{item.name}} - ${{item.price}}</p>
</div>

<h2>sides</h2>
<div *ngFor="let item of getByCategory('sides')">
  <p>{{item.name}} - ${{item.price}}</p>
</div>

<h2>salads</h2>
<div *ngFor="let item of getByCategory('salads')">
  <p>{{item.name}} - ${{item.price}}</p>
</div>

<h2>dessert</h2>
<div *ngFor="let item of getByCategory('dessert')">
  <p>{{item.name}} - ${{item.price}}</p>
</div>


<br>
<br>
<br>
<br>

<div *ngFor="let category of getCategories()">
  <h2>{{category}}</h2>
  <div *ngFor="let item of getByCategory(category)">
    <p>{{item.name}} - ${{item.price}}</p>
  </div>

</div>
